html {
  font-family: "Mulish-Regular";
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Mulish-Regular";
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Mulish";
  src: url("./../fonts/Mulish.ttf") format("truetype");
}
.text-7xl {
  font-size: 3.8rem;
  line-height: 5.6rem;
  font-weight: normal;
  color: #000;
}

.text-6xl {
  font-size: 3.6rem;
  line-height: 5.6rem;
  font-weight: 700;
  color: #000;
}

.text-5xl {
  font-size: 3.6rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: #000;
}

.text-4xl {
  font-size: 2.4rem;
  line-height: 5.6rem;
  font-weight: 700;
  color: #000;
}

.text-3xl {
  font-size: 2.1rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #000;
}

.text-2xl {
  font-size: 2.1rem;
  line-height: 3.2rem;
  font-weight: 300;
  color: #7D7987;
}

.text-xl {
  font-size: 2rem;
  line-height: 6rem;
  font-weight: 700;
  color: #000;
}

.text-xs {
  font-size: 1.9rem;
  line-height: 3rem;
  font-weight: 400;
  color: #000;
}

.text-2xs {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  color: #000;
}

.text-3xs {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 300;
  color: #000;
}

.text-4xs {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #000;
}

.text-5xs {
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #000;
}

.text-6xs {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 300;
  color: #000;
}

.text-white {
  color: white;
}

.bold {
  font-weight: bold;
  font-family: "Mulish-Regular";
  src: url("./../fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-Light";
  src: url("./../fonts/Mulish-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("./../fonts/Mulish-Bold.ttf") format("truetype");
}
.button {
  font-family: "Mulish-Bold";
  width: 20rem;
  height: 5.6rem;
  border: 0.1rem solid;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 3rem;
  background-color: #458FF6;
  color: #fff;
}

.grid__articles {
  display: grid;
  grid-template-columns: auto;
  padding: 1rem;
  max-width: 100%;
  gap: 1rem;
  border-radius: 2.4rem;
}
.grid__articles .grid__item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 2rem;
  overflow: hidden;
}
.grid__articles .grid__item .item__image {
  max-width: 30rem;
}
.grid__articles .grid__item .grid__title {
  font-family: "Mulish-Bold";
  font-size: 1.6rem;
  padding: 2.2rem 2.2rem 2.5rem 2.5rem;
}
.grid__articles .grid__item .grid__summary {
  font-family: "Mulish-Light";
  font-size: 1.4rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
}
.grid__articles .grid__item .grid__cta {
  font-family: "Mulish-Regular";
  font-size: 1.5rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
}

.header {
  padding: 2rem;
}
.header__nav :not(.header__logo) {
  display: none;
}
.header__heading {
  padding: 7.6rem 0 2.5rem;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__btn {
  margin: 4rem 0;
}

.slider__container {
  color: #fff;
  background-color: #5A98F2;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
}
.slider__container .slider__title {
  padding: 2rem 1rem;
  font-size: 3rem;
}
.slider__container .slider__text {
  padding: 2rem 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
}
.slider__container .slider__name {
  font-size: 2rem;
  line-height: 2rem;
  padding: 2rem 1rem;
}
.slider__container .slider__profession {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1rem 3rem;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.slider .arrow {
  width: 3rem;
  height: 2rem;
  margin: 0 2rem;
}
.slider .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 10px;
  width: 10px;
  background-color: #5B9BF3;
  border-radius: 50%;
  display: inline-block;
  margin: 0.9rem;
}

.header__ .header__image {
  padding: 1rem;
  max-height: 100%;
  max-width: 100%;
}

.articles {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles .slider__title {
  font-size: 2rem;
  font-family: "Mulish-Bold";
  padding-bottom: 1rem;
}
.articles hr {
  width: 10%;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
