.button {
    font-family: "Mulish";
    font-weight: 700;
    width: 20rem;
    height: 5.6rem;
    background-color: $button-color;
    border: .1rem solid;
    border-radius: 3rem;
    font-family: "Mulish";
    font-weight: 700;
    font-size: 1.6rem;
    color: $color-white-100;

    &--blue {
        background-color: $color-blue-200;
        color: $color-white-100;
    }

    &--white {
        background-color: $color-white-100;
        border-color: $color-blue-200;
        color: $color-blue-200;
    }
}