.button {
    font-family: "Mulish";
    font-weight: 700;
    width: 20rem;
    height: 5.6rem;
    border: .1rem solid;
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    border-radius: 3rem;
    background-color: $button-color;
    color: $color-white-100;

}

.btn-blue {
    background-color: $color-blue-200;
    color: $color-white-100;
}

.btn-white {
    background-color: $color-white-100;
    border-color: $color-blue-200;
    color: $color-blue-200;
}