.dots {
    position: relative;
    overflow: visible;

    &::before,
    &::after {
        position: absolute;
        z-index: 1;
        background-image: url(./../images/dots.svg);
        width: 13.2rem;
        height: 11.5rem;
    }

    &::before {
        content: "";
    }

    &--top-right::before {
        top: 0;
        right: 0;
    }

    &--bottom-right::before {
        bottom: 0;
        right: 0;
    }

    &--bottom-left::before {
        bottom: 0;
        left: -4.5rem;
        z-index: -1;
    }

    &--bottom-left2::before {
        bottom: 4.5rem;
        left: 4.5rem;
    }

    &__second::after {
        content: "";
    }

    &__second {
        &--top-right::after {
            top: -7rem;
            right: 2rem;
            z-index: 2;
        }

        &--bottom-right::after {
            bottom: 0;
            right: 0;
        }

        &--bottom-left::after {
            bottom: 0;
            left: 0;
        }
    }
}