@font-face {
    font-family: "Mulish-Regular";
    src: url("./../fonts/Mulish-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "Mulish-Light";
    src: url("./../fonts/Mulish-Light.ttf") format("truetype"),
}

@font-face {
    font-family: "Mulish-Bold";
    src: url("./../fonts/Mulish-Bold.ttf") format("truetype"),
}