// colors variables

$color-white-100: #fff;
$color-white-200: #F7F9FC;
$color-white-300: #FBFCF7;
$color-black: #000;

$color-blue-400: #58D6F4;
$color-blue-100: #5B9BF3;
$color-blue-200: #458FF6;
$color-blue-300: #4089ED;;
$color-blue-500: #1A6FB5;
$color-blue-600: #233348;

$color-grey: #7D7987;
