.content {
    max-width: 1400px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper:first-child {
        margin-bottom: 8.9rem;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
        margin: 2.5rem 0;
    }

    &__line {
        margin: 1.5rem 0;
    }

    &__subheading {
        margin: 0 0 1rem;
    }

    &__btn {
        margin: 0 0 2rem;
        background-color: transparent;
        color: $color-blue-200;
    }

    &__img {
        flex-shrink: 0;
        align-items: center;
    }
}

@media (min-width: 894px) {
    .content {
        &__wrapper {
            display: flex;
            flex-direction: row;
        }

        &__wrapper:first-child {
            margin-bottom: 18.9rem;
        }

        &__wrapper-reverse {
            display: flex;
            flex-direction: row-reverse;
        }

        &__img {
            width: 60%;
        }
    }
}

@media (min-width: 1000px) {
    .content {
        &__text-wrapper {
            text-align: left;
            align-items: flex-start;
            margin: 2rem 0;
        }
    }
}

@media (min-width: 1200px) {
    .content {
        &__text-wrapper {
            margin: 4rem 0;
        }

        &__heading {
            max-width: 356px;
            margin: 3rem 0;
        }

        &__subheading {
            max-width: 420px;
            margin-top: 3rem;
            margin-bottom: 4rem;
        }
    }
}