html {
    font-family: "Mulish";
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .slider__section {
        color: $color-white-100;
        background-color: $color-blue-150;
        border-radius: 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;

        .paragraph__title {
            padding: 2rem 1rem;
            font-size: 3rem;
        }

        .paragraph__text {
            padding: 2rem 1rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }
}